@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/*$numbers: (
  "sm": 10px,
  "md": 15px,
  "lg": 20px,
  "xl": 25px,
  "2xl": 30,
  "3xl": 35px,
  "4xl": 40px,
  "5xl": 45px,
  "6xl": 50px,
  "large": "100px",
);*/
header {
  padding: 15px 30px;
  margin: none;
  box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
}
header .container, header .right_search, header .right, header .center ul, header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: center;
}
header .toggle {
  display: none;
}
header .left {
  padding: 10px 0 0 0;
  margin: none;
}
header .left img {
  width: 100px;
}
header .heIcon {
  font-size: 20px;
  color: #0a2748;
}
header .center ul {
  padding: none;
  margin: 0 0 0 45px;
}
header .center ul li {
  padding: none;
  margin: 0 0 0 30px;
}
header .center ul li a {
  text-transform: uppercase;
  font-size: 15px;
}
header .right_search {
  width: none;
  height: 45px;
  background: #fff;
  color: none;
  border-radius: 50px;
  padding: 15px;
  box-shadow: -5px 9px 20px 0px rgba(23, 45, 89, 0.03);
}
header .right_search input {
  width: 80%;
  height: 100%;
  background: none;
  color: none;
  border-radius: none;
  padding: 15px;
}
header .right_user .heIcon {
  padding: none;
  margin: 0 15px;
}
header .right .showCart {
  background: #fff;
  content: "";
  position: absolute;
  top: 11%;
  bottom: none;
  left: none;
  right: 20px;
  width: 450px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 20px 0;
  margin: 0;
  border-radius: 5px;
  z-index: 999;
}
header .right .showCart .empty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: center;
  padding: 0 20px;
  margin: 0;
}
header .right .showCart .empty img {
  width: 50px;
  height: 50px;
}
header .right .details_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: center;
  border-bottom: 2px solid rgba(49, 38, 32, 0.2);
  padding-bottom: 7px;
}
header .right .details_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: center;
  margin: 20px 0;
}
header .right .details_content_img img {
  width: 80px;
  height: 80px;
  background: red;
  color: none;
  border-radius: 50%;
  padding: none;
  -o-object-fit: cover;
     object-fit: cover;
}
header .right .details_content p {
  margin-bottom: 5px;
}
header .right .details_content i {
  color: #ff5400;
  font-size: 30px;
  cursor: pointer;
}
header .right .details_total {
  padding-top: 7px;
}
header .right .hideCart {
  display: none;
}

header.active {
  content: "";
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: none;
  left: 0;
  right: none;
  width: none;
  height: 100%;
  box-shadow: 0 0 4px 0 rgba(115, 115, 115, 0.2);
  z-index: 9999;
  background: rgba(255, 255, 255, 0.8);
}
header.active .showCart {
  content: "";
  position: absolute;
  top: 110%;
  bottom: none;
  left: none;
  right: 20px;
  width: 450px;
  height: auto;
}

.hero {
  width: 60%;
  height: auto;
  background: 0;
  color: 0;
  border-radius: 0;
  padding: 0;
  padding: 10% 0 0 0;
  margin: none;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 5;
}
.hero::after {
  content: "";
  content: "";
  position: absolute;
  top: 50px;
  bottom: none;
  left: 0;
  right: none;
  width: 130%;
  height: 100vh;
  background-image: url("../components/assets/images/bg-dot.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
.hero h1 {
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
}
.hero h1 span {
  color: #ff5400;
  font-size: 40px;
}
.hero p {
  margin: 30px 0 50px 0;
}
.hero .search {
  width: 100%;
  height: none;
  background: #fff;
  color: #312620;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  box-shadow: -5px 9px 20px 0px rgba(23, 45, 89, 0.03);
}
.hero .search hr {
  background: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 0.1rem;
  margin: 5px;
}
.hero .search input {
  width: 80%;
  padding: 10px;
  font-size: 15px;
}
.hero .search .heIcon {
  font-size: 30px;
}

.cards {
  display: grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}
.cards .card {
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: center;
}
.cards .card img {
  width: 60px;
  margin-right: 15px;
}

.topproduct .heading {
  text-align: left;
}
.topproduct .head, .topproduct .category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: center;
}
.topproduct .category {
  width: 50%;
}
.topproduct .category button {
  margin-left: 20px;
}

.price {
  background-color: #0a2748;
  color: #fff;
  padding: 50px 0 100px 0;
  margin: 50px 0 0 0;
}
.price p {
  color: #fff;
}
.price .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  max-width: 80%;
  margin: auto;
}
.price .content .box {
  padding: 40px;
  border-radius: 10px;
}
.price .content .box:nth-child(2) {
  background: #0a2b52;
  position: relative;
  overflow: hidden;
}
.price .content .box:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 20px;
  bottom: none;
  left: none;
  right: -35px;
  width: 135px;
  height: auto;
  content: "POPULAR";
  background: #bd3f99;
  transform: rotate(45deg);
  font-size: 15px;
  padding: 5px;
  text-align: center;
}
.price .content h1 {
  font-size: 50px;
  position: relative;
}
.price .content h1 span {
  font-size: 20px;
  content: "";
  position: absolute;
  top: 10px;
  bottom: none;
  left: -10px;
  right: none;
  width: none;
  height: none;
}
.price .content h1 label {
  font-size: 15px;
  color: #6c8eb6;
}
.price .content p {
  color: #6c8eb6;
}
.price .content button {
  width: 200px;
  height: 50px;
  background: linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%);
  color: #fff;
  border-radius: 40px;
  padding: none;
  margin: 50px 0;
}
.price .content ul li {
  margin-top: 30px;
}
.price .content ul li i {
  margin-right: 10px;
}
.price .box:nth-child(3n+1) h3 {
  color: #ffa7e1;
  font-size: 25px;
}
.price .box:nth-child(3n+2) h3 {
  color: #ffa7e1;
  font-size: 25px;
}
.price .box:nth-child(3n+3) h3 {
  color: #ffa7e1;
  font-size: 25px;
}

.customer .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
}
.customer .content .card {
  margin-top: 35px;
  position: relative;
}
.customer .content .card button {
  width: 65px;
  height: 65px;
  background: #fff;
  color: #6c8eb6;
  border-radius: 40px;
  padding: none;
  box-shadow: -9px 18px 27px 0px rgba(23, 45, 89, 0.1);
  content: "";
  position: absolute;
  top: -40px;
  bottom: none;
  left: 40%;
  right: none;
  width: none;
  height: none;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.customer .content .card button:hover {
  background: #ff5400;
  color: #fff;
}
.customer .content .card p {
  font-size: 15px;
  line-height: 2;
  margin-top: 35px;
}
.customer .content .card h3 {
  color: #0a2748;
  font-size: 20px;
  margin: 20px 0;
}
.customer .content .card span {
  color: #6c8eb6;
  font-size: 15px;
}

.blog .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.blog .posts .content {
  position: relative;
}
.blog .posts .content button {
  width: 100px;
  height: 40px;
  background: linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%);
  color: #fff;
  border-radius: 40px;
  padding: none;
  margin-bottom: 100px;
}
.blog .posts .content img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.blog .posts .content .text {
  position: relative;
  z-index: 5;
}
.blog .posts .content .text span {
  color: #ff5400;
  font-weight: bold;
}
.blog .posts .content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: none;
  left: 0;
  right: none;
  width: 100%;
  height: 98%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  header .toggle {
    display: block;
    margin-right: 230%;
  }
  header .toggle .close {
    content: "";
    position: absolute;
    top: 20px;
    bottom: none;
    left: 40%;
    right: none;
    width: 50px;
    height: 50px;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #ff5400;
    border-radius: 50%;
    padding: 8px;
    z-index: 999999;
  }
  header .center ul {
    display: none;
  }
  header .center .mobile-nav {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    bottom: none;
    left: -50px;
    right: none;
    width: none;
    height: none;
    width: 400px;
    height: 100vh;
    background: #f6f7f8;
    color: #fff;
    border-radius: 0;
    padding: 0;
    padding: 100px 0;
    z-index: 99999;
  }
  header .center .mobile-nav li {
    margin-top: 25px;
  }
  header .center .mobile-nav li a {
    color: #312620;
    margin-bottom: 15px;
    font-size: 30px;
  }
  header .right_user,
header .right_search {
    display: none;
  }
  .hero {
    width: 90%;
    height: auto;
    background: 0;
    color: 0;
    border-radius: 0;
    padding: 0;
    padding: 20% 0 0 0;
    margin: none;
  }
  .hero::after {
    width: 100%;
  }
  .hero h1 {
    font-size: 25px;
  }
  .hero h1 span {
    font-size: 35px;
  }
  .hero .search {
    width: 100%;
    height: none;
    background: #fff;
    color: #312620;
    border-radius: 40px;
    padding: 10px;
  }
  .hero .search input {
    width: 70%;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .topproduct .product_items,
.product .product_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .topproduct .head, .topproduct .category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .topproduct .category {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  .topproduct .category button {
    margin: 20px;
  }
  .banner .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
  .price .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    place-items: center;
  }
  .customer .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .blog .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    place-items: center;
  }
}
article .details_title {
  margin: 30px 0;
}
article .details_content {
  display: flex;
  align-items: none;
  justify-content: none;
  flex-direction: none;
}
article .details_content_img {
  width: 50%;
  height: 100%;
  background: none;
  color: none;
  border-radius: none;
  padding: none;
  margin-right: 50px;
}
article .details_content_img img {
  width: 100%;
  height: 100%;
  background: none;
  color: none;
  border-radius: none;
  padding: none;
}
article .details_content_detail {
  width: 50%;
}
article .details_content_detail h1 {
  font-size: 30px;
}
article .details_content_detail .rating {
  color: #ff5400;
  margin: 20px 0;
}
article .details_content_detail .rating label {
  margin-left: 0 15px;
  color: #6c8eb6;
  font-size: 15px;
}
article .details_content_detail .qty {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: none;
  flex-direction: center;
}
article .details_content_detail .qty .count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: center;
  border: 2px solid rgba(0, 0, 0, 0.08);
  padding: 10px;
  width: 120px;
  height: none;
  background: none;
  color: none;
  border-radius: 5px;
  padding: none;
}
article .details_content_detail .qty .count span {
  font-weight: 600;
}
article .details_content_detail .qty .count button {
  font-size: 18px;
  opacity: 0.8;
}
article .details_content_detail .qty .button {
  width: 40%;
  height: auto;
  background: #0a2748;
  color: #fff;
  border-radius: 0;
  padding: 15px;
  margin-left: 30px;
}
article .details_content_detail .desc h4 {
  margin-top: 40px;
}
article .details_content_detail .desc p {
  color: #312620;
  margin-top: 10px;
}

.searchItems {
  padding: 0;
}
.searchItems .product_items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: -25px;
  background: #fff;
  border-radius: 0 0 30px 30px;
  width: 100%;
}
.searchItems .product_items .box {
  padding: 20px;
}

body {
  background: #f6f7f8;
  font-family: "Poppins", sans-serif;
}

a {
  background: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-weight: 600;
  color: #312620;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
a:hover {
  color: #ff5400;
}

input,
button,
li {
  background: none;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.button {
  width: 150px;
  height: 40px;
  background: linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%);
  color: #fff;
  border-radius: 40px;
  padding: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
}
.button .heIcon {
  margin: 0 10px;
  color: #fff;
}

section {
  padding: 15px 30px;
  margin: none;
}

p {
  color: #0a2748;
  opacity: 0.7;
  font-size: 15px;
}

.card {
  width: none;
  height: none;
  background: #fff;
  color: none;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.card:hover {
  box-shadow: -5px 9px 20px 0px rgba(23, 45, 89, 0.03);
}

.heading {
  text-align: center;
  padding: 0;
  margin: 40px 0;
}
.heading h2 {
  font-size: 30px;
}

.product_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.product_items .box {
  cursor: pointer;
}
.product_items .box .img {
  position: relative;
}
.product_items .box .img img {
  width: 100%;
  height: 100%;
  background: none;
  color: none;
  border-radius: 20px;
  padding: none;
}
.product_items .box h3 {
  font-size: 16px;
}
.product_items .box p {
  font-style: italic;
  margin: 5px 0;
}
.product_items .box .button {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #0a2748;
  border-radius: 50%;
  padding: none;
  font-size: 20px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 5px;
}
.product_items .box .button:hover {
  background: #ff5400;
  color: #fff;
}
.product_items .box .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  content: "";
  position: absolute;
  top: none;
  bottom: 40px;
  left: 0;
  right: none;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: translateY(0);
}
.product_items .box:hover .overlay {
  opacity: 1;
  transform: translateY(-30%);
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}
.posts .post .content {
  position: relative;
}
.posts .post .content .text {
  content: "";
  position: absolute;
  top: 0;
  bottom: none;
  left: 0;
  right: none;
  width: 100%;
  height: 100%;
  padding: 35px;
  color: #fff;
}
.posts .post .content .text h2 {
  margin: 5px 0;
}
.posts .post .content .text p {
  color: #fff;
  margin: 15px 0;
}

footer {
  text-align: center;
  padding: 30px;
  margin: 100px 0 0 0;
  background: #312620;
}
footer p {
  color: #f6f7f8;
}

/*.product,
.topproduct {
  position: relative;
}*/
.modelOpen {
  content: "";
  position: absolute;
  top: -50px;
  bottom: none;
  left: 0;
  right: none;
  width: 100%;
  height: 130vh;
  z-index: 999999;
}
.modelOpen .onClickImage {
  position: relative;
  content: "";
  position: fixed;
  top: 0px;
  bottom: none;
  left: 0;
  right: none;
  width: 100%;
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
}
.modelOpen .onClickImage img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  width: 600px;
  height: 600px;
  z-index: 99999;
}
.modelOpen .onClickImage .button {
  content: "";
  position: absolute;
  top: 13%;
  bottom: none;
  left: none;
  right: 29%;
  width: none;
  height: none;
  width: 40px;
  height: 40px;
  background: linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%);
  color: #fff;
  border-radius: 40px;
  padding: none;
  z-index: 999999;
}
.modelOpen .onClickImage::after {
  content: "";
  content: "";
  position: absolute;
  top: -50px;
  bottom: none;
  left: 0;
  right: none;
  width: 100%;
  height: 110vh;
  background: rgba(0, 0, 0, 0.8);
}

.modelClose img,
.modelClose .button {
  display: none;
}/*# sourceMappingURL=main.css.map */